header {
  width: 100%;
  height: 150px;
  background-color: #475977ff;
  color: #ffffffff;
  -webkit-text-stroke: 2px black;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  color:white;
}

button:hover {
  color:white;
}

body {
  background-color: #0c0c0fff;
  color: #ffffffff;
}

/* centering graph */
.center-g{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top:2%;
}


/* changing x and y graph axis thickness */
.domain{
stroke-width: 3;
}

/* changing font size of graph units */
.tick {
font-size: 14px;
}

.cardContainer{
display: flex;
justify-content: center;
align-items: center;
margin-left: 600px;
margin-top: 30px;
}

/* stylizing the current value card*/
div .card {
background:  #475977ff;
padding: 10px;
margin-top: 20px;
display: inline;
border-color: black;
border-style: solid;
border-width: 2px;
}

.releases-amount{
  flex: 1;
  margin-left: 5px;
}

.curValue{
  margin-right: 5px;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
}

h4 {
  color: white;
  width: 100%;
  font-size: 18px;
  display: flex;
  align-content: center;
  justify-content: center;
}

.links li {
  display: inline-block;
}

ul a {
  font-size: 18px;
  padding: 20px;
}

.fa-coins {
  color: gold;
}

.changeGraph {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px;
  color: white;
};
